@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

:root {
  --background-color: #7f7fd5;
  --background-secondary-color: #91eae4;
  --canvas-color: #f0f0f0;
  --text-color: rgba(255, 255, 255, 0.87);
  --sidebar-color: #343457;
  --button-color: #86a8e7;
  --hover-color: #7db3e3;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  background: linear-gradient(
    to right,
    var(--background-color),
    var(--button-color),
    var(--background-secondary-color)
  );
  font-family: "Balsamiq Sans", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2.75rem;
  color: var(--text-color);
}

canvas {
  background-color: var(--canvas-color);
  display: block;
  border-radius: 5px;
  width: 800px;
  max-width: 96%;
}

