*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: aliceblue;
}

body .container {
  background: #fff;
  border-radius: 0.35rem;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 2rem;
  width: 90%;
  max-width: 28rem;
  padding-top: 1.5rem;
  header {
    h1 {
      font-size: 1.3rem;
      margin-top: 0%;
      color: #2d3142;
      @media (max-width: 500px) {
        font-size: 1.1rem;
      }
    }
  }
  .generatedPasswordView {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2d3142;
    background: #d3d3d3;
    border-radius: 0.25rem;
    padding-left: 1rem;
    button {
      padding: 0.8rem;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 0.25rem;
      background-color: #4f5d75;
      color: #bfc0c0;
      position: relative;
      i {
        transition: 200ms ease;
      }
      &::before {
        display: none;
        content: attr(data-tooltip);
        position: absolute;
        background-color: #4f5d75;
        padding: 0.5rem;
        border-radius: 0.25rem;
        top: -93%;
        left: 50%;
        transform: translate(-50%);
      }
      &:hover {
        i {
          transform: scale(1.1);
        }

        &::before {
          display: flex;
        }
      }
      &:active {
        i {
          transform: scale(0.93);
        }
      }
    }
  }
}

// Main

body .container {
  > button {
    width: 100%;
    padding: 0.8em;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #2196f3;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: 300ms ease opacity;
    &:hover {
      opacity: 0.75;
    }
  }
}
